
// .panel {
//   padding: 20px;
//   background-color: #ffffff;
//   border-radius: 8px;
//   border: 2px solid #ffcc0f;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   max-width: 800px;
//   margin: 0 auto;
// }

// .contact-icon {
//   width: 30px;
//   height: 30px;
//   margin-left: 10px;
// }
// .body {
//   margin-top: 10px;
// }

// .accordion-header {
//   color: #4C4C49;
//   padding: 10px;
// }

// .row {
//   display: flex;
//   justify-content: space-between;
  
// }

// .customer-detail {
//   display: flex;
//   font-size: 14px;
// }

// .label {
//   font-weight: bold;
//   color: #D91C5C;
//   margin-right: 8px;
// }

// .value {
//   color: #4C4C49;
// }


// .search-inputs {
//   display: flex;
//   margin-left: 9vw;
//   justify-content: flex-end; 
//   gap: 15px;
//   margin-bottom: 30px;
//   align-items: center;
//   flex-wrap: wrap; 
//   direction: rtl;

// }

// .search-wrapper {
//   position: relative;
//   display: flex;
//   align-items: center;
//   width: 100%; 
//   max-width: 300px; 
//   margin-bottom: 10px; 
// }

// .form-control {
//   width: 100%; 
//   padding: 10px 15px 10px 40px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   font-size: 14px;
//   transition: border-color 0.3s ease;
//   position: relative;
// }

// .form-control:focus {
//   outline: none;
//   border-color: #d91c5c;
//   box-shadow: 0 0 5px rgba(217, 28, 92, 0.5);
// }

// .search-icon {
//   position: absolute;
//   left: 10px; 
//   width: 20px;
//   height: 20px;
//   pointer-events: none;
// }


// #searchNameInput, #searchEmailInput {
//   color: #4c4c49 !important;
// }

// #searchNameInput::placeholder, #searchEmailInput::placeholder {
//   color: #d91c5c !important;
// }

// .p-icon {
//   margin-right: 0 !important;
// }


// .pagination-buttons {
//   display: flex;
//   justify-content: center;
//   margin-top: 20px;
// }


// .bt{
//   direction: rtl;
//   margin-right: 0;
//   margin-top: 2vh;
// }



// .add-customer-icon-wrapper {
//   margin-right: 2px; 
// }

// .add-customer-icon {
//   width: 30px; 
//   height: 30px; 
// }

// // ::ng-deep .p-accordion .p-accordion-tab {
// //   margin-bottom: 1px;
// //   margin-bottom: 1px;
// // }

// ::ng-deep .p-accordion .p-accordion-header {
//   padding: 8px 15px; 
//   font-size: 18px;
//   background-color: transparent; /* הסרת הרקע */
//   direction: rtl; /* יישור תוכן הכותרת מימין לשמאל */
// }

// ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
//   justify-content: space-between; /* מבטיח רווח שווה בין החץ לכותרת */
//   flex-direction: row-reverse; /* מיקום החץ משמאל */
// }

// ::ng-deep .p-accordion .p-accordion-toggle-icon {
//   color: #D91C5C; /* שינוי צבע החץ */
//   transform: rotate(180deg); /* מסובב את החץ כלפי חוץ */
// }

// ::ng-deep .p-accordion .p-accordion-content {
//   direction: rtl;
// }

// /* Media query for responsive design */
// @media (max-width: 600px) {
//   .search-inputs {
//     flex-direction: column; 
//     align-items: center;
//   }

//   .search-wrapper {
//     max-width: 100%; 
//   }
// }
// body {
//   background-color: #f9f9f9;
//   font-family: Arial, sans-serif;
//   direction: rtl !important;
//   text-align: right !important;
// }
.panel {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid #ffcc0f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 70%;
  margin: 0 auto;
  direction: ltr;
  min-height: 90%
}
:host-context(.home-page) .panel{
  max-width: 100% !important;
  min-height: 80vh;
}

.contact-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.body {
  margin-top: 10px;
  direction: rtl;
}

.accordion-header {
  color: #4C4C49;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  
}

.customer-detail {
  display: flex;
  font-size: 14px;
}

.label {
  font-weight: bold;
  color: #D91C5C;
  margin-right: 8px;
}

.value {
  color: #4C4C49;
}


// h1 {
//   color: #d91c5c;
//   text-align: center;
//   margin-bottom: 20px;
//   display: flex;
//   align-items: center;
//   justify-content: flex-end; 
// }


.search-inputs {
  display: flex;
  margin-left: 9vw;
  justify-content: flex-end; 
  gap: 15px;
  margin-bottom: 30px;
  align-items: center;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; 
  max-width: 300px; 
  margin-bottom: 10px; 
}

.form-control {
  width: 100%; 
  padding: 10px 15px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s ease;
  position: relative;
}

.form-control:focus {
  outline: none;
  border-color: #d91c5c;
  box-shadow: 0 0 5px rgba(217, 28, 92, 0.5);
}

.search-icon {
  position: absolute;
  left: 10px; 
  width: 20px;
  height: 20px;
  pointer-events: none;
}


#searchNameInput, #searchEmailInput {
  color: #4c4c49 !important;
}

#searchNameInput::placeholder, #searchEmailInput::placeholder {
  color: #d91c5c !important;
}

.p-icon {
  margin-right: 0 !important;
}

// .accordion-content {
//   padding: 10px;
//   background-color: #ffcc0f;
//   text-align: right; 
// }

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

// button {
//   margin: 0 10px;
//   padding: 10px 20px;
//   background-color: #4c4c49;
//   color: #fff;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
//   font-size: 14px;
//   transition: background-color 0.3s ease;
//   text-align: right; 
// }

// button:hover {
//   background-color: #333;
// }

// button:disabled {
//   background-color: #ccc;
//   cursor: not-allowed;
// }

.bt{
  direction: rtl;
  margin-right: 0;
  margin-top: 2vh;
}



.add-customer-icon-wrapper {
  margin-right: 2px; 
}

.add-customer-icon {
  width: 30px; 
  height: 30px; 
}


/* Media query for responsive design */
@media (max-width: 600px) {
  .search-inputs {
    flex-direction: column; 
    align-items: center;
  }

  .search-wrapper {
    max-width: 100%; 
  }
}
